page-voted {
 


    #headerImg{
        padding-top :15%; 

        margin: 40px;
    }

    #backCss{
        position: relative;
        padding-top: 8%;
        padding-left: 7%;
        width: 12%;

    }
}


