page-register {
    #headerIcon{

        padding-top: 11%;
        text-align: center;
        font-size: 8rem;
        color: #9b59b6;
    }
 
    .inputID{
        border-radius: 6px;
        border: 2px solid #9b59b6;
        margin-bottom: 8%;
        padding: 4px;
    }
    .buttonID{
       width: 100%;
       background-color: #9b59b6;
       margin-bottom: 15%;
    }
    .inputID1{
        border-radius: 6px;
        border: 2px solid #9b59b6;
        padding: 4px;
        margin-bottom: 19%;
    }
    .buttonID2{
        margin: 40%;
        font-size: 15px;
        width: 100%;
        color: #9b59b6;
    }
}
