<!--
  Generated template for the DonorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border no-shadow>

    <ion-navbar >
      
    </ion-navbar>
  
  </ion-header>
<ion-content  >

  <ion-searchbar id="mySearchbar" (ionInput)="getItems($event)"></ion-searchbar>


    
    

        <ion-grid>
            <ion-row>
              <ion-col text-right>
                  <h1 text-right padding id="staticss">    المتبرعين    </h1>
              </ion-col>
            </ion-row>
            <!-- <ion-row>
                <ion-col text-right padding>
                    عند تحويل المبلغ نرجوا ملئ معلوماتك 
                    عند تحويلك للمبلغ سيتم عرض اسمك هنا مع المتبرعين 
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col text-right padding>
                      <span id="spanClick" (click)="goToDonor()"> اضغط هنا   </span> 
                  </ion-col>
                </ion-row> -->
          </ion-grid>
          
      <br>
       


        <ion-list  *ngFor="let country of countryList">
            <div *ngIf="country.show === true"> 
                <ion-item >
                    <ion-thumbnail item-start>
                        <img src="assets/imgs/donor.svg">
                  </ion-thumbnail>
                   
                 
                  <h2 text-right>      {{country.name}}        </h2>
                  <p  text-right>   {{country.amount}}    دع      </p>
               
                </ion-item>
              </div>
         </ion-list>
 
  
    

 


 
    
    </ion-content>
