page-news-details {

    #myCSS{
        margin-top: 2%;
        padding: 6%;
 
    }
    #myCSS2{
        
        color: #ffffff;
        background-color: #786FA6;
        padding-bottom: 5%;
        padding-top: 9%;
    
    }
    #myCSS3{
        
        color: #ffffff;
        background-color: #786FA6;
      
    
    }
    ion-navbar.toolbar {


        border-bottom: 0px solid #786fa6;
    }
 
}

 


 